


<%- include("partials/header.ejs") %>



    <!-- Start Banner -->
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>Services</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->


    <!-- section -->
    <div class="section layout_padding">
        <div class="container-fluid">



            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                            <h2><strong><span class="theme_color"></span>Services</strong></h2>
                        </div>
                    </div>
                </div>


            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="full">
                        <div class="heading_main text_align_center">
                            <h2><span class="theme_color"></span>Daily Money Contributions</h2>
                        </div>
                        <p> <b>Grow Your Wealth with Our Daily Contribution Scheme</b><br>
                            - Service Description: Our daily money contribution scheme
                            allows you to save a fixed amount daily, helping you build wealth over time.</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="/images/pix2.jpg" alt="#" />
                        <h4>Safe & Secure</h4>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="/images/pix9.jpg" alt="#" />
                        <h4>Wallet</h4>
                    </div>
                </div>

            </div>







            <div class="row">
                <div class="col-md-6">
                    <div class="full">
                        <div class="heading_main text_align_center">
                            <h2><span class="theme_color"></span>Easy Savings</h2>
                        </div>
                        <p> <b>Save for Your Dream Property with Property Easy Savings</b><br>
                            - Service Description: Our property easy savings scheme enables you to save
                            for specific property goals, such as land, home appliances, or cars.</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog" style="height: 30rem; padding-top: 3rem;">
                        <img class="img-responsive" src="/images/ceo2.jpg" alt="#" />
                        <h4>Quality guaranteed</h4>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="full services_blog">
                        <img class="img-responsive" src="images/counseling.jpg" alt="#" />
                        <h4>Experts Support</h4>
                    </div>
                </div>

            </div>

            <!-- <div class="row margin-top_30">
            <div class="col-sm-12">
                <div class="full">
                    <div class="center">
                        <a class="main_bt" href="#">About more ></a>
                    </div>
                </div>
            </div>
        </div> -->
        </div>
    </div>
    <!-- end section -->


    <!-- section -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="/images/pix4.jpg" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding" style="background-color: bisque;">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2>How our <span class="theme_color">services</span> works</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">

                        <h4>Simple and Secure Savings Solutions</h4> <br>
                        <p>Step-by-Step Guide:</p>
                        <b>
                            <p>
                            <ul>
                                <li>- Step 1: Sign up for our daily contribution scheme or property easy savings scheme.
                                </li> <br>
                                <li>- Step 2: Set your savings goals and contribution amount.</li><br>
                                <li>- Step 3: Start saving and watch your wealth grow.</li><br>
                            </ul>
                            </p>
                        </b>
                    </div>
                    <!-- <div class="full paddding_left_15">
                        <a class="main_bt" href="#">Exchange Currency ></a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->





<!-- Start Banner -->

<!-- End Banner -->

 <!-- section -->
 <div class="section layout_padding">
    <div class="container-fluid">



        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center">
                        <h2><strong><span class="theme_color"></span>membership plan</strong></h2>
                    </div>
                </div>
            </div>


        </div>


        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 btm">
                <div class="full services_blog">
                    <img class="img-responsive" src="/images/pix7.jpg" alt="#" />
                    <h4>Basic</h4>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 btm">
                <div class="full services_blog">
                    <img class="img-responsive" src="/images/pix6.jpg" alt="#" />
                    <h4>Premium</h4>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 btm">
                <div class="full services_blog">
                    <img class="img-responsive" src="/images/pix11.jpg" alt="#" />
                    <h4>Elite</h4>
                </div>
            </div>

        </div>







        

           

        </div>

        <!-- <div class="row margin-top_30">
            <div class="col-sm-12">
                <div class="full">
                    <div class="center">
                        <a class="main_bt" href="#">About more ></a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- end section -->




<%- include("partials/footer.ejs") %>